<div id="title"><h1>Ryzom R.I.B.S.</h1></div>
<div id="infos">
	<div id="server">	<span id="status" class="left"></span><strong>{{ server_name }}</strong></div>
	<div id="user-div"><span id="user"></span> <a href="#" onclick="return app.openUrl('logout')" >(Logout)</a></div>
</div>
