<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title></title>
	<script src="static/js/jquery.min.js"></script>
	<script src="static/js/eventsourcerek.js"></script>
	<script src="static/js/recipe.js"></script>
	<script src="static/js/ribs.js"></script>
	<script src="static/js/eventlistener.js"></script>
	<script src="static/js/sse.js"></script>
	<link href="static/css/fonts.css" rel="stylesheet">
	<link href="static/css/main.css" rel="stylesheet">
</head>
<body>
	<div id="header">{{ header|safe }}</div>
	<div id="content">
		<div id="outer-left">
			<div id="left">
				<div id="cookers"></div>
				<div id="cooker-activity-div"><div id="cooker-activity">Idle...</div></div>
				<div id="outputs">
					<div id="output-logs" class="output"></div>
				</div>
			</div>
		</div>
		<div id="right">
			<div id="recipes">
				<h3>Incredible Recipes</h3>
				<div id="recipes-content"></div>
			</div>
			<div id="scripts">
				<h3>Awesome Ribs</h3>
				<div id="scripts-content"></div>
			</div>
			<div class="start-button" id="prepare" onclick="app.prepareRecipe()">Prepare the recipe</div>
			<div class="start-button" id="answer">Please add your personnal touch</div>
			<div class="start-button" id="cook" onclick="app.cookRecipe()">Cook the yummy ribs!</div>
			<div class="start-button" id="stop-cook" onclick="app.stopCook()">Stop the Cooker!</div>
		</div>
	</div>
	<div id="outer-bottom">
		<span id="sysinfo"></span>
		<div id="bottom">{{ bottom|safe }}</div>
	</div>

</body>
</html>
