/*#############################################
# | ___ \|_   _|| ___ \/  ___|
# | |_/ /  | |  | |_/ /\ `--.
# |    /   | |  | ___ \ `--. \
# | |\ \ __| |__| |_/ //\__/ /
# \_| \_(_)___(_)____(_)____(_)
#
# Remote Interface to Bash Scripts
# - better with barcebue sauce -
# Copyright (C) 2019 Nuneo (ulukyn@gmail.com)
#
# This program is free software (GPLv3): read https://www.gnu.org/licenses/gpl-3.0.en.html for more details
#
# Css file
#
*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #303030;
	font-family: Ubuntu Mono;
	margin: 0;
	color: #aaaaaa;
	background-image: url(/static/images/bg.jpg)
}

#header {
	display: flex;
	background-color: rgba(15, 15, 15, 0.5);
	flex-direction: row;
	width:100%;
	overflow: hidden;
	margin: 0;
}

#title {
	border-right: 0 !important;
	padding-left: 10px;
}

#infos {
	margin-left: auto;
	margin-right: 10px;
}

#status {
	text-shadow: 1px 1px 2px black;
	position: fixed;
	top: -4px;
	right: 0;
}

#server {
	height: 25px !important;
	text-shadow: 1px 1px 2px black;
	text-align: right;
	margin-right: 16px;
	line-height: 24px;
}

#user-div {
	text-align: right;
	line-height: 7px;
}

#user {
	color: #C5A6FF;
	height: 20px !important;
	font-weight: bold;
	font-size: 10pt;
	font-family: Nunito;
	text-align: right;
	text-shadow: 1px 1px 2px black;
}


#user-div a {
	text-decoration: none;
	color: #390001;
}

#user-div a:hover {
	text-decoration: none;
	color: #920044;
}


#header div {
	outline: none;
	height: 40px;
	transition: 0.3s;
}

#header div strong {
	color: orange;
}

#title h1 {
	font-family: Prosto One;
	outline: none;
	height: 40px;
	line-height: 10px;
	color: #82BEF0;
	font-size: 16pt;
	transition: 0.3s;
	text-shadow: 1px 1px 2px black;
}

#content {
	display: flex;
	flex: 1;
	flex-direction: both;
	/* background-color: #303030; */
}

#outer-left {
	display: flex;
	flex-direction: column;
	flex: 3;
}

#left {
	display: flex;
	flex-direction: column;
	flex: 3;
	margin: 10px;
	border-radius: 6px;

}

#cooker-activity-div {
	height: 16px;
	border-top: 5px solid #aaaaaa;
	font-family: Share Tech Mono;
	font-size: 14px;
	color: #C2B0E7;
	border-radius: 0 6px 0 0;
	background-color: #28243a;
}

#cooker-activity {
	background-image: url(/static/images/progress.png);
	background-repeat: repeat;
	width: 0%;
}

.activity {
	color: #A0DE94;
}

#cookers {
	height: 24px;
	line-height: 28px;
	font-weight: bold;
	font-family: Nunito;
}

#cookers span {

	padding: 4px 6px;
	background-color: #777777;
	color: #222222;
	cursor: pointer;
}

#cookers span:first-child {
	border-radius: 6px 0 0 0;
}

#cookers span:last-child {
	border-radius: 0 6px 0 0;
}

#cookers span.selected {
	background-color: #aaaaaa;
}

.running_command {
	color: #263B1E;
}

.finsihed_command {
	color: #3B351E;
}

.input {
	flex: 1;
	background-color: #303030;
	border: 1px solid #101010;
	padding: 4px;
	border-radius: 4px;
	color: #51B8E7;
	font-weight: bold;
}

.radiobox {
	flex: 1;
	display: block;
	position: relative;
	padding: 6px 6px 6px 20px;
	cursor: pointer;
	line-height: 8px;
}

.radiobox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 4px;
	left: 4px;
	height: 12px;
	width: 12px;
	background-color: #303030;
	border-radius: 50%;
}

.radiobox:hover {
	color: #51B8E7;
}

.radiobox:hover input ~ .checkmark {
	background-color: #2196F3;
}

.radiobox input:checked ~ .checkmark {
	background-color: #51B8E7;
}

.send {
	margin: auto;
	color: #111;
	font-weight: bold;
	text-align: center;
	padding: 6px 12px;
	background-color: #266292;
	border: 1px solid #020E17;
	border-radius: 4px;
	cursor: pointer;
}

.output {
	background-color: rgba(15, 15, 15, 0.98);
	border-radius: 0 0 6px 6px;
	font-size: 11pt;
	white-space: pre-wrap;
	padding: 4px;
	height: calc(100vh - 142px);
	overflow: auto;
	margin: 0;
}

#output-logs {
	color: #C5C5C6;
}

#right {
	display: flex;
	flex-direction: column;
}

#flavours {
	padding: 4px;
	width: 300px;
}

#flavours-content {
	padding: 4px;
	margin: 0 1px 4px 1px;
	background-color: #050505;
	border-radius: 0 0 4px 4px;
}

.flavour {
	display: inline-block;
	font-family: Nunito;
	font-weight: bold;
	width: 90px;
	margin: 2px;
	text-align: center;
	background-color: #3A2524;
	color: #CEABAB;
	border: 1px solid #B56B65;
	cursor: pointer;
}

.flavour:hover {
	background-color: #2A1111;
}

#current-flavour {
	display: inline-block;
	background-color: #000000;
	color: #FFBD00;
	padding: 2px;
	width: 90px;
	margin: 2px
}

#recipes {
	padding: 4px;
	width: 300px;
}

#recipes-content {
	margin: auto;
	padding: 2px;
	background-color: rgba(15, 15, 15, 0.9);
	border-radius: 0 0 6px 6px;
	font-size: 0.8rem;
}


.recipe {
	display: inline-block;
	font-family: Nunito;
	font-weight: bold;
	width: 84px;
	height: 44px;
	margin: 2px;
	padding: 5px;
	text-align: center;
	background-color: rgba(105, 115, 155, 0.9);
	color: #000000;
	cursor: pointer;
}

.recipe:hover {
	background-color: #2E2E69;
	color: #999999;
}

#recipes-content div:last-child {
	float: none;
	clear: both;
}

#right h3 {
	text-align: center;
	font-family: Prosto One;
	font-size: 11pt;
	padding: 4px;
	margin: 0 0 0 0;
	background-color: #161616;
	border-radius: 5px 5px 0 0;
}

#recipes h3 {
	color: #6E6EDD;
}

.recipe-selected {
	background-color: #2E2E69;
	color: #ffffff;
}


#scripts {
	flex: 1;
	padding: 4px;
	margin-bottom: 12px;
	border-radius: 0 0 6px 6px;
	width: 300px;
}

#scripts h3 {
	color: #E94DBC;
}


#scripts-content {
	padding: 4px;
	background-color: rgba(15, 15, 15, 0.9);
	border-radius: 0 0 6px 6px;
}

#observer-message {
	display: none;
	width: 300px;
	text-align: center;
	padding: 20px;
}

.script {
	clear: both;
	padding: 2px;
	margin-bottom: 10px;
	text-align: center;
	cursor: pointer;
	background-image: url(/static/images/script_name_header.png);
	background-repeat: repeat-x;
}

.script span {
	padding: 0 6px 0 24px;
}


.script-option-content {
	margin: 4px 0 2px 0;
}

.script-option {
	display: inline-block;
	color: #dddddd;
	width: 136px;
	margin: 2px;
	text-align: center;
	border-radius: 6px;
	border: 1px solid #473C71;
}

.selected-script+.script-option-content .script-option.selected {
	background-color: #4A5A9C;
	border: 1px solid #2E2E69;
	color: #000;
}

.script-option:hover {
	background-color: #6873A0;
	color: #000000;
}

.selected-script+.script-option-content .script-option.selected:hover {
	background-color: #6873A0;
	color: #000;
}

.selected-script {
	background-image: url(/static/images/tick.png);
	background-position: 4px;
	background-repeat: no-repeat;
	color: #dddddd;
}

.selected-script:hover {
	color: #FFFFFF;
}

.unselected-script {
	background-image: url(/static/images/cross.png);
	background-position: 4px;
	background-repeat: no-repeat;
	color: #505050;
}

.unselected-script:hover {
	color: #FFFFFF;
}

.blue-button {
	color: #8294A5;
	border: 1px solid #2242C1;
	background-color: #0E121E;
	width: 300px;
	margin: auto;
	cursor: pointer;
	padding: 5px 20px;
	font-family: Nunito;
	font-size: 12pt;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}

.blue-button:hover {
	background-color: #22293B;
}

.start-button {
	display: none;
	position: relative;
	margin: 4px 2px 10px 0;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
	font-family: Nunito;
	font-size: 13pt;
	font-weight: bold;
	border-radius: 5px;
}

.stop-cooker {
	position: fixed;
	right: 40px;
	float: right;
	width: 100px;
	padding: 5px;
	font-size: 14pt;
	text-align: center;
	color: #A58282;
	border: 1px solid #C12322;
	background-color: #1E0E0E;
	cursor: pointer;
}

.stop-cooker:hover {
	background-color: #AC0013;
	color: #000;
}

.clear-cooker {
	position: fixed;
	top: -40p;
	right: 40px;
	float: right;
	width: 100px;
	padding: 5px;
	font-size: 14pt;
	text-align: center;
	color: #A58282;
	border: 1px solid #C16522;
	background-color: #1E140E;
	cursor: pointer;
}

.clear-cooker:hover {
	background-color: #AC5C00;
	color: #000;
}

#prepare {
	color: #C1A222;
	border: 1px solid #C18722;
	background-color: #1E170E;
}


#answer {
	color: #22C165;
	border: 1px solid #0E1E12;
	background-color: #0E1E12;
	cursor: default;
	font-style: italic;
	font-size: 12pt;
	font-weight: normal;
}

#cook {
	color: #2272C1;
	border: 1px solid #2242C1;
	background-color: #0E121E;
}

#stop-cook {
	color: #C12722;
	border: 1px solid #C12D22;
	background-color: #1E0E0F;
}

.start-button:hover {
	background-color: #BC9B77;
	color: #111111;
}

#outer-bottom {
	padding: 2px 6px;
	line-height: 24px;
	height: 24px;
	background-color: #101510;
	color: #008000;
}

#bottom {
	float: right;
	text-align: right;
	font-family: Squada One;
 }

#sysinfo {
	font-size: 10pt;
	font-family: Share Tech Mono;
}

.dialog {
	display: flex;
	padding: 6px 2px 6px 2px;
	background-color: #101832;
	border-radius: 0 0 3px 3px;
}

.dialog a {
	flex: 1;
	margin: 0 5px;
	border: 1px solid #003452;
	color: #8DA2AF;
	font-weight: bold;
	background-color: #090C14;
	padding: 4px;
	text-align: center;
	text-decoration: none;
	border-radius: 4px;
}

.dialog a:hover {
	background-color: #0F102C;
}

.ask {
	display: inline-block;
	border-radius: 3px 3px 0 0;
	background-color:#101832;
	color: orange;
	padding: 2px;
	margin-top: 1px;
	width: calc(100% - 4px);
}

.ask_for_script {
	color: #66C4F6;
	font-weight: bold;
	font-style: italic;
	float: right;
	padding: 2px;
}

.ribs {
	color: #66C4F6;
	font-weight: bold;
}

.command {
	display: inline-block;
	margin: 1px 0;
	color: #5BCA71;
	background-color: #131913;
	padding: 2px;
	border: 1px dotted #5BCA71;
}

.error {
	color: #FF6F6F;
	display: inline-block;
	margin-left: 100px;
}

.time {
	font-size: 10pt;
	color: #DED394;
}

.user {
	color: #C494DE;
}

.preparing {
	text-align: left;
	color: #f7d3d3;
	background-color: #334a5e;
	padding: 4px;
	margin-bottom: -15px;
	font-size: 13pt;
	font-weight: bold;
}

.prepared {
	text-align: center;
	color: #00FF46;
	background-color: #122F1F73;
	padding: 4px;
}


.running {
	text-align: center;
	color: #CBD3DC;
	background-color: #344C65;
	padding: 4px;
}


.event-running {
	color: #94B8DE;
}

.event-finished {
	color: #DE94AA;
}

.finished {
	text-align: center;
	color: #DE94AA;
	background-color: #2B4361;
	padding: 4px;
}


.red {
	color: red;
	font-weight: bold;
}


/* STYLES FOR DIFF2HTML */
table {
	border: 0px;
	border-collapse: collapse;
	width: 100%;
	font-size: 0.75em;
	font-family: Lucida Console, monospace
}

td.line {
	color: #8080a0
}

th {
	background: #101010;
	color: white
}

tr.diffunmodified td {
	background: #454561
}

tr.diffhunk td {
	display: none;
}

tr.diffadded td {
	color: #66F265;
	background: #131613
}

tr.diffdeleted td {
	background: #241010
}

tr.diffchanged td {
	background: #35352D
}

span.diffchanged2 {
	background: #352D15
}

span.diffponct {
	color: #2B1B1B
}

tr.diffmisc td {}

tr.diffseparator td {}


hr {
	color: #08c;
}

